<div class="my-container">
        <app-navbar tema="light">
            </app-navbar>
    <div class="container">
            <div class="card painel">
                <div class="painel-bg-img loader-img">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5 col-lg-4 text-center">
                                    
                                    <img src="{{ getImage(person.profile_path, 500) }}" style="margin-top: 15px; width: 250px; height: 375px;" class="img-rounded">
                                    
                                </div>
                                <div class="col-md-7 col-lg-8">
                                    <h1 class="py-2">{{ person.name }}</h1>
        
                                    <h2>Biografia</h2>
                                    <div *ngIf="person.biography.length == 0">
                                        <fa-icon [icon]="faInfoCircle" style="color: #5bc0de"></fa-icon>
                                        <b style="color: #5bc0de"> Não há dados sobre a biografia desta pessoa.</b>
                                    </div>
                                    <div class="row" *ngIf="person.biography.length != 0">
                                        <div class="col-md-12">
                                            <p>{{ person.biography }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card painel">
                <div class="painel-bg-dark">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-4" style="color: white">
                                    <h4><fa-icon [icon]="faUserAlt"></fa-icon> Informações pessoais</h4>
                                    <hr style="background-color: white" />
                                    
                                    <h5 style="display: inline;">Conhecido(a) por</h5>
                                    <h6 style="color: rgb(92,184,92);">{{ person.known_for_department }}</h6>
        
                                    <h5 style="display: inline;">Gênero</h5>
                                    <h6 [ngStyle]="{'color': person.gender == unavailable ? '#ffbb33' : '#5CB85C' }">{{ person.gender }}</h6>
        
                                    <h5 style="display: inline;">Nascimento</h5>
                                    <h6 [ngStyle]="{'color': person.birthday == null ? '#ffbb33' : '#5CB85C' }">{{ (person.birthday | date: 'dd/MM/yyyy') || unavailable }}</h6>
        
                                    <div *ngIf="person.deathday">
        
                                    <h5 style="display: inline;">Falecimento</h5>
                                    <h6 style="color: rgb(92,184,92);">{{ person.birthday | date: 'dd/MM/yyyy' }}</h6>
        
                                    </div>
        
                                    <h5 style="display: inline;">Local de Nascimento</h5>
                                    <h6 [ngStyle]="{'color': person.place_of_birth == unavailable ? '#ffbb33' : '#5CB85C' }">{{ person.place_of_birth }}</h6>
        
                                    <h5 style="display: inline;">Site oficial</h5>
                                    <h6>
                                        <a href="{{ person.homepage == unavailable ? 'javascript:;' : person.homepage }}" [ngStyle]="{'color': person.homepage == unavailable ? '#ffbb33' : '#5CB85C', 'text-decoration': person.homepage ? 'none' : '' }">
                                        {{ person.homepage }}
                                            
                                        </a>
                                    </h6>
        
                                    <h5 style="display: inline;">Também conhecido(a) como</h5>
                                    <div *ngIf="isArray(person.also_known_as)">
                                        <h6 *ngFor="let nome of person.also_known_as" style="color: rgb(92,184,92);">{{ nome }}</h6>
                                    </div>
                                    <div *ngIf="!isArray(person.also_known_as)">
                                        <h6 [ngStyle]="{'color': person.also_known_as == unavailable ? '#ffbb33' : '#5CB85C' }">{{ person.also_known_as }}</h6>
                                    </div>
                                    <div *ngIf="person.also_known_as.length == 0">
                                            <h6 style="color: #ffbb33;">{{ unavailable }}</h6>
                                    </div>
                                    <br>
                                    <h4><fa-icon [icon]="faPhotoVideo"></fa-icon> Mídia</h4>
                                    <hr style="background-color: white" />
        
                                    <h5 style="display: inline;">Fotos <span id="total-fotos" style="color: rgb(92,184,92);"> {{ person.profiles.length != 0 ? person.profiles.length : '0'}}</span></h5>
                                    
                                    <div id="fotos">
                                        <div *ngIf="person.profiles.length == 0">
                                            <a  style="color: #ffbb33; text-decoration: none;">
                                                <b>Nenhuma foto disponível</b>
                                            </a>
                                        </div>
                                        <div *ngIf="person.profiles.length != 0">
                                            <a *ngFor="let item of person.profiles, let i = index;" class="media" id="photo-{{ i }}" 
                                            href="{{ getImage(item.file_path, 500) }}" data-fancybox="gallery-photos" [hidden]="i != 0">
                                                <b>Ver fotos</b>
                                                <img src="{{ getImage(item.file_path, 500) }}" [hidden]="i == 0">
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <br>
                                </div>
        
                                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                                    <div *ngIf="person.cast.length == 0 && person.crew.length == 0" class="text-center"><fa-icon [icon]="faInfoCircle" style="color: #5bc0de"></fa-icon>
                                        <b style="color: #5bc0de"> Não há dados sobre os trabalhos desta pessoa.</b>
                                    </div>

                                    <div *ngIf="person.cast.length != 0">
                                        <h4 style="color: white;"><fa-icon [icon]="faVideo"></fa-icon> Atuação</h4>
                                        <hr style="background-color: white" />
                                        <table class="table table-hover table-dark" [class.table-sm]="isMobile">
                                            <thead class="thead-dark">
                                                <tr class="d-flex">
                                                    <th class="col-sm-2 col-md-2 col-lg-2 text-center" [ngClass]="{'col-2': !isMobile, 'col-3': isMobile}">Ano</th>
                                                    <th class="col-sm-8 col-md-8 col-lg-9" [ngClass]="{'col-8': !isMobile, 'col-7': isMobile}">Filme</th>
                                                    <th id="rate" class="col-2 col-sm-2 col-md-2 col-lg-1 text-center"><fa-icon [icon]="faStar"></fa-icon></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of person.cast" class="d-flex">
                                                    <td class="text-center col-sm-2 col-md-2 col-lg-2" [ngClass]="{'col-2': !isMobile, 'col-3': isMobile}">
                                                        {{ (item.release_date | date: 'yyyy') || '-'}}
                                                    </td>
                                                    <td class="col-sm-8 col-md-8 col-lg-9" [ngClass]="{'col-8': !isMobile, 'col-7': isMobile}">
                                                        <a [routerLink]="['/filme', item.id]" style="font-weight: bold; color: white;">
                                                                {{ item.title}} <div *ngIf="item.character.length != 0" style="font-weight: normal; display: inline;">como </div><div *ngIf="item.character.length != 0" style="color: rgb(92,184,92); font-weight: normal; display: inline;"> {{ item.character}}
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td id="rate" class="col-2 col-sm-2 col-md-2 col-lg-1 text-center">
                                                            {{ item.vote_average }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div *ngIf="person.crew.length != 0">
                                            <h4 style="color: white;"><fa-icon [icon]="faBriefcase"></fa-icon> {{ person.crew.length == 0 ? 'Trabalhos' : 'Outros trabalhos' }}</h4>
                                            <hr style="background-color: white" />
                                            <table class="table table-hover table-dark" [class.table-sm]="isMobile">
                                                <thead class="thead-dark">
                                                    <tr class="d-flex">
                                                        <th class="col-sm-2 col-md-2 col-lg-2 text-center" [ngClass]="{'col-2': !isMobile, 'col-3': isMobile}">Ano</th>
                                                        <th class="col-sm-8 col-md-8 col-lg-9" [ngClass]="{'col-8': !isMobile, 'col-7': isMobile}">Filme</th>
                                                        <th id="rate" class="col-2 col-sm-2 col-md-2 col-lg-1 text-center"><fa-icon [icon]="faStar"></fa-icon></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of person.crew" class="d-flex">
                                                        <td class="text-center col-sm-2 col-md-2 col-lg-2" [ngClass]="{'col-2': !isMobile, 'col-3': isMobile}">
                                                            {{ (item.release_date | date:'yyyy') || '-' }}
                                                        </td>
                                                        <td class="col-sm-8 col-md-8 col-lg-9" [ngClass]="{'col-8': !isMobile, 'col-7': isMobile}">
                                                            <a [routerLink]="['/filme', item.id]" style="font-weight: bold; color: white;">
                                                                    {{ item.title}} <div *ngIf="item.job.length != 0" style="font-weight: normal; display: inline;">como </div><div *ngIf="item.job.length != 0" style="color: rgb(92,184,92); font-weight: normal; display: inline;"> {{ item.job}}
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td id="rate" class="col-2 col-sm-2 col-md-2 col-lg-1 text-center">
                                                                {{ item.vote_average }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                </div>
        
                                
                            </div>
                            
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>